@charset "UTF-8";

main h2{
    font-size: 4rem;
    margin: 10.25rem 24rem 24rem auto;
    border-bottom: solid .4rem #131D46;
    width: fit-content;
}

.form{
    position: relative;
}


.form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 35.7rem;
    width: 17.6rem;
    height: 26.7rem;
    transform: translateY(-50%);
    background: url("../img/contact_img.jpg")no-repeat center center/contain;
}

.form .title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 10;
}

.form .title img{
    width: 42rem;
    margin-right: 9.8rem;
}

.form .title p{
    font-size: 2.3rem;
    font-weight: bold;
}

.formrun{
    width: 52.81%;
    margin: auto;
    background: white;
    padding: 20.6rem 0 5.3rem;
    position: relative;
}

.formrun .wrap{
    width: 86.686%;
    margin: auto;
}

.formrun .wrap > div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
}

.formrun .wrap label{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.67rem;
}

.formrun .wrap input, .formrun .wrap textarea{
    font-size: 2rem;
    padding: 2.18rem 2.8rem;
    width: calc(100% - 5.6rem);
    border-radius: 0;
    border: solid .05rem #707070;
}

.formrun .wrap textarea{
    height: 37.54rem;
}

.formrun .wrap input::placeholder, .formrun .wrap textarea::placeholder{
    color: #B1B1B1;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "HGGothicE";
}

.formrun .wrap button{
    width: 100%;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #070707;
    padding: 3.1rem 0;
    background: white;
    border-radius: 5rem;
    border: solid .15rem #707070;
    margin: 1.6rem 0 6rem;
    transition: all .2s ease-in-out;
}

.formrun .wrap button:hover{
    background: #070707;
    color: white;
    transition: all .3s ease-in-out;
}

.formrun .wrap .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    position: relative;
}

.formrun .wrap .link::before{
    content: "";
    position: absolute;
    width: .15rem;
    height: 5rem;
    top: 0;
    left: 50%;
    background: #101010;
}

.formrun .wrap .link a{
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
    transition: all .2s ease-in-out;
}

.formrun .wrap .link a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    main h2{
        margin: 4.45rem 5.3rem 3.23rem auto;
        font-size: 1.5rem;
        border-bottom: solid .3rem #131D46;
    }

    .form::before{
        width: 8.5rem;
        height: 13.7rem;
        left: 13.87%;
        transform: translateY(-1.5rem);
        background: url("../img/contact_sp_img.jpg")no-repeat center center/cover;
    }

    .form .title{
        position: relative;
        flex-direction: column;
        width: 72.27%;
        justify-content: flex-end;
        align-items: flex-end;
        transform: none;
        left: unset;
        margin: auto;
        margin-bottom: 3rem;
    }

    .form .title img{
        width: 16.224rem;
        margin-right: auto;
        margin-bottom: 1.8rem;
    }

    .form .title p{
        font-size: 1.2rem;
        background: white;
        padding: .8rem 0 0 .7rem;
        letter-spacing: .1rem;
    }

    .formrun{
        width: 72.27%;
        padding: 0;
    }

    .formrun .wrap{
        width: 100%;
    }

    .formrun .wrap > div{
        margin-bottom: 1.1rem;
    }

    .formrun .wrap label{
        font-size: 1.2rem;
        margin-bottom: .85rem;
    }

    .formrun .wrap input, .formrun .wrap textarea{
        font-size: 1.2rem;
        padding: 1.15rem 1.2rem;
        width: calc(100% - 2.4rem);
    }

    .formrun .wrap input::placeholder, .formrun .wrap textarea::placeholder{
        font-size: 1.2rem;
    }

    .formrun .wrap textarea{
        height: 15.9rem;
    }

    .formrun .wrap button{
        margin: 1.35rem 0 2.65rem;
        font-size: 1.2rem;
        padding: 1.35rem 0;
        border: solid .05rem #070707;
    }

    .formrun .wrap .link a{
        font-size: 1.4rem;
    }

    .formrun .wrap .link::before{
        width: .05rem;
        height: 2.1rem;
    }
}