@charset "UTF-8";

#about{
    margin: 6.58rem 0 34.8rem;
    position: relative;
}

#about::before{
    content: "about us";
    position: absolute;
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1E5F;
    transform: rotateZ(90deg);
    bottom: 0;
    left: 1rem;
}

#about h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 11.77rem;
}

#about h1 img{
    width: 35.1rem;
}

#about .wrap{
    width: 86.82%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .wrap .left{
    width: 31.55%;
}

#about .wrap .left h2{
    margin-bottom: 3rem;
}

#about .wrap .right{
    width: 75.7rem;
    height: 51.2rem;
    background: url("../img/about_img.jpg") no-repeat center center/cover;
    position: relative;
}

#about .wrap .right::before{
    content: "";
    position: absolute;
    width: 36.39rem;
    height: 34.7rem;
    top: 30rem;
    left: -30.7rem;
    filter: drop-shadow(9.16rem 6.48rem #E0E1E5);
    background: url("../img/about_symbol.svg") no-repeat center center/contain;
}

/* service */
#service{
    margin-bottom: 20rem;
    position: relative;
}

#service::before{
    content: "our service";
    position: absolute;
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1E5F;
    transform: rotateZ(90deg);
    top: 50%;
    left: 0;

}

#service .slider{
    width: 64.9%;
    margin-right: 0;
    margin-left: auto;
}

#service .slider .slick-list{
    overflow: visible;
}

#service .slider .slide{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    transition: all .5s ease-in-out;
    opacity: 0;
}


#service .slider .slick-active{
    opacity: 1;
}

#service .slider .slide02,#service .slider .slide03{
    transform: translateY(3rem);
}

#service .slider .slide::before{
    position: absolute;
    font-size: 19.2rem;
    color: #131D46;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    bottom: 1rem;
    left: -15.7rem;
    transform: translateY(25%);
}

#service .slider .slide01::before{
    content: "1";
}

#service .slider .slide02::before{
    content: "2";
}

#service .slider .slide03::before{
    content: "3";
}

#service .slider .slide04::before{
    content: "4";
}

.slick-arrow{
    background: none;
    border: none;
}

.slick-arrow:before{
    content:"";
    position: absolute;
    width: 5.59rem;
    height: 3rem;
    bottom: -5rem;
    left: 35%;
    cursor: pointer;
}

.slick-next:before{
    background: url("../img/slide_next.svg") no-repeat center center/contain;
    transform: translateX(100%);
}

.slick-prev:before{
    background: url("../img/slide_prev.svg") no-repeat center center/contain;
    transform: translateX(-100%);
}

.slick-dots{
    border-left: solid .25rem #131D46;
    padding-left: 1.45rem;
    position: absolute;
    top: 0;
    left: -50rem;
}

.slick-dots li button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button:before{
    font-size: 2rem;
    font-weight: bold;
    color: #CBCBCB;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "HGGothicE";
    transition: all .2s ease-in-out;
}

.slick-dots li:nth-of-type(1) button:before{
    content: "1";
}
.slick-dots li:nth-of-type(2) button:before{
    content: "2";
}
.slick-dots li:nth-of-type(3) button:before{
    content: "3";
}
.slick-dots li:nth-of-type(4) button:before{
    content: "4";
}

.slick-dots li button:after{
    font-size: 1.3rem;
    font-weight: bold;
    color: #CBCBCB;
    vertical-align: text-bottom;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, "HGGothicE";
    transition: all .2s ease-in-out;
}

.slick-dots li:nth-of-type(1) button:after{
    content: "　アパレルブランドOEM&ODM";
}
.slick-dots li:nth-of-type(2) button:after{
    content: "　化粧品OEM&ODM";
}
.slick-dots li:nth-of-type(3) button:after{
    content: "　インフルエンサー事業";
}
.slick-dots li:nth-of-type(4) button:after{
    content: "　映像制作事業";
}

.slick-dots .slick-active button::before, .slick-dots .slick-active button::after{
    color: #131D46;
    transition: all .3s ease-in-out;
}

#service .slider .slide .left{
    margin-right: 7.5rem;
}

#service .slider .slide .left h2{
    margin-bottom: 2.6rem;
}

#service .slider .slide .left img{
    width: 45rem;
}

#service .slider .slide .right{
    width: 51.95rem;
}

#service .slider .slide .right > img{
    width: 100%;
    margin-bottom: 6.74rem;
    filter: drop-shadow(14.2em 4.5rem #E0E1E5);
}

#service .slider .slide .right a{
    font-size: 1.33rem;
    font-weight: bold;
    color: #0D1E5F;
    display: none;
    margin-top: .5rem;
    transition: all .2s ease-in-out;
}

#service .slider .slide04 .right a{
    display: block;
}

#service .slider .slide .right a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

#service .slider .slide .right a > img{
    display: inline;
    vertical-align: middle;
    margin-right: 1.13rem;
    width: 2.475rem;
}

/* company */
#company{
    margin-bottom: 11.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#company::before{
    position: absolute;
    content: "company profile";
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1E5F;
    transform: rotateZ(90deg);
    top: 20rem;
    left: -3rem;
}

#company > img{
    width: 34.8rem;
    margin-bottom: 1.96rem;
    filter: drop-shadow(16.1rem 3.8rem #E0E1E5);
    transform: translate(50%, 40%);
    z-index: 10;
}

#company .title{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 7.5rem;
}

#company .title img{
    width: 28.8rem;
    margin-left: 24.5rem;
}

#company .wrap{
    width: 42.95%;
}

#company .wrap div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: solid .1rem #707070;
    margin-bottom: 2rem;
}

#company .wrap div h3{
    font-size: 2rem;
    font-weight: bold;
    width: 18.6rem;
    color: #070707;
    line-height: 2.5;
}

#company .wrap div p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5;
}

/* contact */

#contact{
    margin-bottom: 11.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contact::before{
    position: absolute;
    content: "contact";
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1E5F;
    transform: rotateZ(90deg);
    left: 2rem;
    top: 2rem;
}

#contact .left{
    position: relative;
}

#contact .left::before{
    position: absolute;
    content: "";
    width: 19.6rem;
    height: 51.1rem;
    top: 0;
    right: -16.34rem;
    background: url("../img/contact_symbol.svg") no-repeat center center/contain;
}

#contact .left h2{
    margin-bottom: 2.1rem;
}

#contact .left img{
    width: 28.4rem;
}

#contact .right{
    width: 30%;
    margin-left: 9.4rem;
}

#contact .right div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1.8rem;
    margin-left: 25%
}

#contact .right div a{
    font-size: 4rem;
    font-weight: bold;
    color: #070707;
    font-family: Arial, Helvetica, sans-serif;
}

.contact{
    font-size: 2.7rem;
    font-weight: bold;
    color: #070707;
    display: block;
    width: 65.4rem;
    padding: 3rem 0;
    border: solid .15rem #707070;
    text-align: center;
    border-radius: 5rem;
    margin-bottom: 10.7rem;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: all .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

.contact::before{
    position: absolute;
    content: "";
    width: 8.152rem;
    height: 1.356rem;
    top: 50%;
    right: 6.62rem;
    transform: translateY(-50%);
    background: url("../img/arrow.svg") no-repeat center center/contain;
    transition: all .3s ease-in-out;
}

.contact:hover{
    background: #070707;
    color: white;
    transition: all .3s ease-in-out;
}

.contact:hover::before{
    right: 3rem;
    transition: all .3s ease-in-out;
    background: url("../img/arrow_white.svg") no-repeat center center/contain;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    #about{
        margin: 4.85rem 0 10.4rem;
    }

    #about::before{
        font-size: 1.2rem;
        bottom: unset;
        top: 11rem;
        left: -.75rem;
    }

    #about h1{
        margin-bottom: 4.27rem;
    }

    #about h1 img{
        width: 16.224rem;
    }

    #about .wrap{
        width: 85.33%;
        flex-direction: column-reverse;
    }

    #about .wrap .right{
        width: 24.4rem;
        height: 16.5rem;
        transform: translateX(2rem);
    }

    #about .wrap .right::before{
        width: 15.8rem;
        height: 14.83rem;
        top: unset;
        bottom: 0;
        left: unset;
        right: -2rem;
        transform: translateY(50%);
        filter: drop-shadow(6.05rem 3.86rem #E0E1E5);
    }

    #about .wrap .left{
        width: 100%;
        margin-top: 6.8rem;
    }

    #about .wrap .left h2{
        margin-bottom: 1.4rem;
    }

    /* service */

    #service{
        margin-bottom: 8.6rem;
        position: relative;
    }

    #service::before{
        font-size: 1.2rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #0D1E5F;
        transform: rotateZ(90deg) translateX(50%);
        top: 0;
        left: -1.5rem;
    }

    #service::after{
        content: "";
        position: absolute;
        width: 10.3rem;
        height: 10.7rem;
        top: 3.5rem;
        right: 2rem;
        filter: drop-shadow(4.5rem 2rem #E0E1E5);
        background: url("../img/service_symbol.svg") no-repeat center center/contain;
        z-index: 10;
    }

    #service .slider{
        width: 85.33%;
        margin: auto;
        padding-top: 10.5rem;
    }
    
    #service .slider .slide{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        flex-direction: column;
    }


#service .slider .slide02,#service .slider .slide03{
    transform: none;
}
    
    #service .slider .slide::before{
        display: none;
    }
    
    .slick-arrow:before{
        width: 3.6rem;
        height: .6rem;
        bottom: -2rem;
        left: 45%;
    }
    
    .slick-dots{
        border-left: solid .15rem #131D46;
        padding-left: .5rem;
        top: 0;
        left: 0;
    }
    
    .slick-dots li button:before{
        font-size: 2rem;
    }
    
    .slick-dots li button:after{
        font-size: 1.3rem;
    }
    
    #service .slider .slide .left{
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 2.2rem;
    }
    
    #service .slider .slide .left h2{
        margin-bottom: 0;
        margin-right: 1.4rem;
    }
    
    #service .slider .slide .left img{
        width: 18.2rem;
    }
    
    #service .slider .slide .right{
        width: 100%;
    }
    
    #service .slider .slide .right > img{
        width: 100%;
        margin-bottom: 6.74rem;
    }

    /* company */
    #company{
        margin-bottom: 11.95rem;
    }

    #company::before{
        font-size: 1.2rem;
        top: 2.5rem;
    }

    #company .title{
        width: 85.33%;
        align-items: center;
        position: relative;
        margin-bottom: 9.85rem;
    }

    #company .title::before{
        position: absolute;
        content: "";
        width: 13.3rem;
        height: 13.9rem;
        bottom: 0;
        left: 50%;
        filter: drop-shadow( 5.9rem 2rem #E0E1E5);
        transform: translate(-40%, 65%);
        background: url("../img/company_symbol.svg") no-repeat center center/contain;
        z-index: 10;
    }

    #company .title img {
        width: 14.5rem;
        margin-left: 1.2rem;
    }

    #company .wrap{
        width: 87.33%;
        border-top: solid .1rem #707070;
        padding-top: 1.25rem;
    }

    #company .wrap div{
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        border-bottom: solid .1rem #707070;
    }

    #company .wrap div h3{
        font-size: 1.2rem;
        width: 7rem;
    }

    #company .wrap div p{
        font-size: 1.2rem;
    }

    /* contact */

    #contact{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.1rem;
    }

    #contact::before{
        font-size: 1.2rem;
        left: -.5rem;
    }

    #contact .left{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 7.2rem;
        width: 87.33%;
    }

    #contact .left::before{
        width: 10rem;
        height: 28.8rem;
        right: 0;
        top: unset;
        bottom: 0;
        transform: translate(25%, -10%);
        z-index: 10;
    }

    #contact .left h2{
        margin-bottom: 0;
        transform: translateY(50%);
        margin-right: 5.5rem;
        margin-left: .5rem;
    }

    #contact .left img{
        width: 13.3rem;
    }

    #contact .right{
        width: 87.33%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    #contact .right div{
        margin-top: 3.4rem;
        margin-bottom: auto;
        align-items: flex-start;
        margin-left: 0;
    }

    #contact .right div a{
        font-size: 2.8rem;
    }

    .contact{
        font-size: 1.2rem;
        width: 76.8%;
        padding: 1.25rem 0;
        border: solid .05rem #707070;
        margin-bottom: 3rem;
    }

    .contact::before{
        width: 3.591rem;
        height: .6rem;
        right: 3rem;
    }

    .contact:hover::before{
        right: 1rem;
    }
}